/* === Sektionen === */
.karriere {
    margin-top: 0;
    padding: 200px 5% 100px 5%;
}

.hobbys {
    margin-top: 0;
    padding: 100px 5% 100px 5%;
}

.hobbys h2,
.karriere h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
}

.about {
    padding: 60px 5% 60px 5%;
}